<!DOCTYPE html>
<html>

<head>
    <title>JW Admin Dashboard</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="/css/dashboard.css" type="text/css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script src="https://cdn.anychart.com/releases/8.0.1/js/anychart-core.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.0.1/js/anychart-pie.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js" integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <div class="d-flex flex-column" style="height: 95vh;">

        <ul>
            <li>Happy: <%= countHappy %>
            </li>
            <li>Neutral: <%= countNeutral %>
            </li>
            <li>Sad: <%= countSad %>
            </li>
        </ul>



        <div id="container" style="width: 100%; height: 400px"></div>
        <script>
            anychart.onDocumentReady(function () {

                // set the data
                var data = [
                    { x: "Happy", value: <%= countHappy %> , normal: { fill: "#00FF00" }},
                    { x: "Neutral", value: <%= countNeutral %> , normal: { fill: "#ADD8E6" }},
                    { x: "Sad", value: <%= countSad %> , normal: { fill: "#FF0000" }}
                ];

                // create the chart
                var chart = anychart.pie();

                // set the chart title
                chart.title("Users Feedback");

                // add the data
                chart.data(data);

                // display the chart in the container
                chart.container('container');
                // set legend position
                chart.legend().position("right");
                // set items layout
                chart.legend().itemsLayout("vertical");
                chart.draw();

            });
        </script>

    </div>

    <div class="container" style="width: 50%;">
    <canvas id="myChart" width="200" height="100" style="border:1px solid #000000;"></canvas>
</div>

    <div class="neutral-stats">
        <h2>WC statistics: (neutral)</h2>
        <% for(let i = 0; i < statsObj.wcNeutral.length; i++){ %>
            <p><%= hashTable[statsObj.wcNeutral[i]["_id"]["item"]] %>: <%= statsObj.wcNeutral[i]["count"] %></p>
        <% } %>
    </div>
    <div class="sad-stats">
        <h2>WC statistics: (sad)</h2>
        <% for(let i = 0; i < statsObj.wcSad.length; i++){ %>
            <p><%= hashTable[statsObj.wcSad[i]["_id"]["item"]] %>: <%= statsObj.wcSad[i]["count"] %></p>
        <% } %>
    </div>
    <div>
        <h2>Restaurant statistics:</h2>
    </div>
    <div>
        <h2>BBQ area statistics:</h2>
    </div>

    <script src="/js/dashboard.js"></script>
</body>

</html>