<!DOCTYPE html>
<html>

<head>
    <title>JW Admin Dashboard</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/dashboard.css" type="text/css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <div>
        <ul>
            <li>Happy: <%= countHappy %>
            </li>
            <li>Neutral: <%= countNeutral %>
            </li>
            <li>Sad: <%= countSad %>
            </li>
        </ul>
    </div>

    <div class="container" style="width: 50%;">
        <canvas id="myChart" width="200" height="100" style="border:1px solid #000000;"></canvas>
    </div>

    <div class="neutral-stats">
        <h2>WC statistics: (neutral)</h2>
        <% for(let i=0; i < statsObj.wcNeutral.length; i++){ %>
            <p>
                <%= hashTable[statsObj.wcNeutral[i]["_id"]["item"]] %>: <%= statsObj.wcNeutral[i]["count"] %>
            </p>
            <% } %>
    </div>
    <div class="sad-stats">
        <h2>WC statistics: (sad)</h2>
        <% for(let i=0; i < statsObj.wcSad.length; i++){ %>
            <p>
                <%= hashTable[statsObj.wcSad[i]["_id"]["item"]] %>: <%= statsObj.wcSad[i]["count"] %>
            </p>
            <% } %>
    </div>
    <div>
        <h2>Restaurant statistics:</h2>
    </div>
    <div>
        <h2>BBQ area statistics:</h2>
    </div>

    <script src="/js/dashboard.js"></script>
</body>

</html>