<% layout('layout/boilerplate') -%>

<link rel="stylesheet" href="/css/locations.css">

  <div class="d-flex justify-content-around rtl">
    <a href="/survey/<%= mood %>/restaurant" class="place d-flex flex-column align-items-center">
      <img src="/imgs/restaurant.png" class="card-img-top" alt="المطعم">
      <h3 id="restaurant-loc" class="card-title">المطعم</h3>
    </a>
    
    <a href="/survey/<%= mood %>/wc" class="place d-flex flex-column align-items-center">
      <img src="/imgs/wc.png" class="card-img-top" alt="الحمامات">
      <h3 id="wc-loc" class="card-title">الحمامات</h3>
    </a>
    <a href="/survey/<%= mood %>/slides" class="place d-flex flex-column align-items-center">
      <img src="/imgs/slides.png" class="card-img-top" alt="السحاسيل"  >
      <h3 id="slides-loc" class="card-title">السحاسيل</h3>
    </a>
    <a href="/survey/<%= mood %>/bbq" class="place d-flex flex-column align-items-center justify-content-between">
      <img src="/imgs/bbq_area.png" class="card-img-top" alt="السحاسيل"  >
      <h3 id="bbq-loc" class="card-title">منطقة الشواء</h3>
    </a>
    <a href="/survey/<%= mood %>/other" class="place d-flex flex-column align-items-center">
      <img src="/imgs/other.png" class="card-img-top" alt="بدون تحديد مكان">
      <h3 id="other-loc" class="card-title">بدون تحديد مكان</h3>
    </a>

  </div>

  <script src="/js/locations.js"></script>