<div id="ar-options">
    <div class="tab">
        <% for (var i=0; i < options.length; i++) { %>
            <div class="form-check d-flex align-items-center">
                <input class="form-check-input" type="checkbox" id="checkBox<%= options[i].id %>"
                    name="<%= options[i].id %>">
                <label class="form-check-label" for="checkBox<%= options[i].id %>">
                    <%= options[i]["ar-text"] %>
                </label>
            </div>
            <% if(((i % 5)==0) && (i> 0) && (i != options.length-1)){ %>
    </div>
    <div class="tab">
        <% } %>
            <% } %>
    </div>

</div>

<div id="en-options">
    <div class="tab">
        <% for (var i=0; i < options.length; i++) { %>
            <div class="form-check d-flex align-items-center">
                <input class="form-check-input" type="checkbox" id="checkBox<%= options[i].id %>"
                    name="<%= options[i].id %>">
                <label class="form-check-label" for="checkBox<%= options[i].id %>">
                    <%= options[i]["en-text"] %>
                </label>
            </div>
            <% if(((i % 5)==0) && (i> 0) && (i != options.length-1)){ %>
    </div>
    <div class="tab">
        <% } %>
            <% } %>
    </div>

</div>